body {
    margin: 0;
    padding: 0;
}


/* First section */
.first-section {
    background-color: hsl(215, 28%, 17%);
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    gap: 30px;


}
.header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    /* background-color: red; */
    align-items: center;
}

.header-right {
    display: flex;
    /* margin-left: 100px; */
    gap: 30px;

}

.section1 {
    display: flex;
    height: max-content;
    align-items: center;
    gap: 100px;
    padding-bottom: 90px;
    width: 1000px;


}
.section1 button {
    color: white;
    background-color: #3882f6;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    border-color: #3882f6;
}

.big-pic {
    height: 300px;
    width: 880px;
    border-radius: 0;
}
.logo {
    font-size: 24px;
}
.logo,
.hero{
    color: #F9FAF8;
}
.hero {
    font-size: 48px;
    font-weight: bolder;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}



/* Second Section */

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
}
.section2 {
    display: flex;
    /* background-color: black; */
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}

.second-section {
    display: flex;
    background-color: white;
    padding: 0 100px;
    gap: 80px;
    justify-content: center;
    /* background-color: red; */
    width: 700px;
    height: 200px;

}

img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
}


/* Third Section */
.third-section {
    background-color: #e5e7eb;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 0 100px;

}
.quote {
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    font-style: italic;
    width: 800px;
    padding: 0;
    margin: 0;
}
.author {
    margin-left: auto;
    font-weight: bolder;
    margin-left: 600px;
}

.fourth-section {
    background-color: #3882f6;
    margin: 60px;
    display: flex;
    border-radius: 15px;
    height: 200px;
    padding: 0 100px;
    height: 150px;
    width: 800px;
    /* background-color: red; */
}
.call{
    /* background-color: green; */
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    align-items: center;
}
.four {
    display: flex;
    /* background-color: blue; */
    justify-content: center;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;

}
.signup {
    width: 170px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    height: 50px;
    background-color: #3882f6;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
    color: white;
}
