.first-section {
    background-color: #1f2937;
}
.header {
    display: flex;
    align-items: center;
    column-gap: 200px;

}

.header-right {
    margin-left: auto;
    gap: 50px 50px;
}

body {
    margin: 0;
    padding:0 70px ;
    background-color: #1f2937;

}

button {
    color: white;
    background-color: #3882f6;
}

.section1 {
    display: flex;
    height: max-content;
    align-items: center;
    gap: 190px;
}

img {
    max-height: 400px;
}

.logo {
    font-size: 24px;
}

.logo,
.hero{
    color: #F9FAF8;
}

.hero  {
    font: 48px;
    font-weight: bolder;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}
